In [32]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [33]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Egvekinot,RU,2022-07-21 23:29:45,66.3167,-179.1667,45.23,52,85,10.69
1,1,Punta Arenas,CL,2022-07-21 23:28:44,-53.1500,-70.9167,32.11,93,20,20.71
2,2,Saldanha,ZA,2022-07-21 23:29:45,-33.0117,17.9442,42.85,81,99,10.38
3,3,Vao,NC,2022-07-21 23:29:33,-22.6667,167.4833,73.63,90,46,19.51
4,4,Qaanaaq,GL,2022-07-21 23:29:46,77.4840,-69.3632,43.75,91,100,10.49

In [34]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [35]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [36]:
# Heatmap of temperature
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [37]:
# Heatmap of temperature
# Get the maximum temperature.
clouds = city_data_df["Cloudiness"]
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [38]:
# Heatmap of temperature
# Get the maximum temperature.
wind = city_data_df["Wind Speed"]
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [39]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip(f*)? "))
max_temp = float(input("What is the maximum temperature you would like for your trip?(f*) "))

In [40]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Egvekinot,RU,2022-07-21 23:29:45,66.3167,-179.1667,45.23,52,85,10.69
3,3,Vao,NC,2022-07-21 23:29:33,-22.6667,167.4833,73.63,90,46,19.51
7,7,Chokurdakh,RU,2022-07-21 23:29:47,70.6333,147.9167,53.56,35,0,8.86
10,10,Yellowknife,CA,2022-07-21 23:29:12,62.4560,-114.3525,68.52,40,75,6.91
12,12,Rikitea,PF,2022-07-21 23:29:10,-23.1203,-134.9692,74.10,80,94,23.02
13,13,Bredasdorp,ZA,2022-07-21 23:26:29,-34.5322,20.0403,47.19,88,100,3.65
15,15,Barrow,US,2022-07-21 23:29:49,71.2906,-156.7887,46.42,76,20,26.46
16,16,New Norfolk,AU,2022-07-21 23:26:58,-42.7826,147.0587,47.91,81,2,3.06
18,18,Wasilla,US,2022-07-21 23:25:04,61.5814,-149.4394,60.06,74,75,11.50
20,20,Riviere-Au-Renard,CA,2022-07-21 23:29:50,48.9957,-64.3971,68.29,85,95,13.15

In [41]:
preferred_cities_df.count()

City_ID       301
City          301
Country       298
Date          301
Lat           301
Lng           301
Max Temp      301
Humidity      301
Cloudiness    301
Wind Speed    301
dtype: int64

In [42]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

                 City Country  Max Temp      Lat       Lng Hotel Name
0           Egvekinot      RU     45.23  66.3167 -179.1667
3                 Vao      NC     73.63 -22.6667  167.4833
7          Chokurdakh      RU     53.56  70.6333  147.9167
10        Yellowknife      CA     68.52  62.4560 -114.3525
12            Rikitea      PF     74.10 -23.1203 -134.9692
13         Bredasdorp      ZA     47.19 -34.5322   20.0403
15             Barrow      US     46.42  71.2906 -156.7887
16        New Norfolk      AU     47.91 -42.7826  147.0587
18            Wasilla      US     60.06  61.5814 -149.4394
20  Riviere-Au-Renard      CA     68.29  48.9957  -64.3971

In [43]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [44]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [45]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))